.ct-balance-chart {
  .ct-series-a .ct-area {
    mask-image: linear-gradient(180deg, rgb(0 20 83 / 94%) 0%, rgb(45 96 255 / 30%) 100%);
    -webkit-mask-image: linear-gradient(180deg, rgb(0 20 83 / 94%) 0%, rgb(45 96 255 / 30%) 100%);
    fill: #2d60ff;
  }

  .ct-series-a .ct-line {
    stroke: #1814f3;
  }

  .ct-grid {
    stroke: #dfe5ee;
    stroke-dasharray: 5px;
  }
}
