@import 'tailwindcss';

@theme {
  --font-inter: 'Inter', system-ui, sans-serif;
  --font-lato: 'Lato', sans-serif;
  --color-semi-transparent-gray: rgba(255, 255, 255, 0.7);
  --color-slate-blue: rgba(52, 60, 106, 1);
  --color-light-blue: rgba(113, 142, 191, 1);
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
